<html>
  <head>
    <title><%=title%></title>
  </head>
  <body>
    <h1>Message:</h1>
    <ul>
      <li>User: <%=message.user%></li>
      <li>Message Text: <%=message.text%></li>
      <li>Date Added: <%=message.added%></li>
    </ul>
    <a href="/new">Message Form</a>
    <a href="/">Homepage</a>
  </body>
</html>
