<html>
  <head>
    <title><%=title%></title>
  </head>
  <body>
    <h1>Message:</h1>
    <ul>
      <li>User: <%=message[0].user%></li>
      <li>Message Text: <%=message[0].text%></li>
      <li>
        Date Added: <%=message[0].added.toLocaleDateString('en-US', { weekday:
        'long', year: 'numeric', month: 'long', day: 'numeric', })%>
      </li>
    </ul>
    <a href="/new">Message Form</a>
    <a href="/">Homepage</a>
  </body>
</html>
